<!--<app-nav></app-nav>
<a [routerLink]="['/abouts']">Contactenoss </a>
<router-outlet>
        <a [routerLink]="['/abouts']">Contactenos </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione porro voluptatibus perferendis nesciunt minus a nihil suscipit qui esse error dicta minima, perspiciatis nisi facilis consequatur nobis accusamus sunt vero.</p>
</router-outlet>
<app-app-footer></app-app-footer>-->
<app-nav></app-nav>
<div class="main">
        <app-beer-cart></app-beer-cart>
        <app-beer-list></app-beer-list>
</div>
<app-app-footer></app-app-footer>