th,td{
    text-align: center;
    color: black;
    padding: 15px;
}

tr button {
    background: #F857A6;
    background:-webkit-linear-gradient(to right,#ff5858,#f857a6);
    background:linear-gradient(to right,#ff5858,#f857a6);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, .25);
}

.btns-cerveza {
    display: flex;
    flex-direction: row;
}

thead tr {
    background: lightblue;
}

.rojo {
    background-color:#FC6E20;
}

.verde{
    background-color: lightgreen;
}

tr input {
    width: 80px;
    margin: 0 1% 0 1%;
    padding: 10px 0;
    text-align: center;
}

thead td:first-of-type{ border-radius: 15px 0 0 0; }
thead td:last-of-type { border-radius: 0 15px 0 0; }
tbody tr:last-of-type td:last-of-type{ border-radius: 0 0 15px 0; }
tbody tr:last-of-type td:first-of-type{ border-radius: 0 0 0 15px; }

table {
    margin:60px;
}