<table>
    <thead>
        <tr>
            <td>Cerveza</td>
            <td>Imagen</td>
            <td>Cantidad</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sarasa Sarasa</td>
            <td>Sarasa Sarasa</td>
            <td>Sarasa Sarasa</td>
            <td>Sarasa Sarasa</td>
        </tr>
        <tr>
            <td>Sarasa Sarasa</td>
            <td>Sarasa Sarasa</td>
            <td>Sarasa Sarasa</td>
            <td>Sarasa Sarasa</td>
        </tr>
    </tbody>
</table>
