@media only screen and (max-width:1310px){

    table tr td {
        font-size: 0.8em;
    }

}

@media only screen and (max-width:1100px){
    table tr td {
        font-size: 1em;
    }
}








@media only screen and (max-width:1310px){
    
    td {
        font-size: 0.8em;
    }
    
    tr button {
        padding: 10px 20px;
    }
    
    tr input {
        width: 40px;
    }
    
}

@media only screen and (max-width: 1100px) {
    td {
        font-size: 1em;
    }

    section {
        flex-direction: column;
    }
}

@media only screen and (max-width:850px){
    td {
        font-size: 0.8em;
    }
}

@media only screen and (max-width:740px){
    td {
        padding: 10px;
    }
}

@media only screen and (max-width: 580px){
    td {
        font-size: 0.6em;
    }

    td {
        padding: 5px;
    }
}

@media only screen and (max-width: 430px){
    td {
        padding: 0;
    }
}